 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>저는 '토파즈마인'라는 웹 레이전시 회사에서 1년 정도 일을 하면서 쇼핑몰과 커뮤니티 사이트 코딩 경험을 하였고, 이직하여 '허블'라는 회사에 기업부설 연구소에서 모바일 웹 포털 사이트와 블록체인 암호화화페 정보제공 사이트 '빗콕' 퍼블리싱 작업을 2년 정도 개발 및 유지보수를 한 경험이 있습니다. </p>
                </div>
                <div class="col-lg-4">
                    <p>저에게 웹 퍼블리셔라는 직업은, 처음에 인터넷 쇼핑몰로 인해 웹페이지 제작에 관심을 두게 됐고 학원에 다니면서 정식으로 배우기 시작하면서 웹 퍼블리셔가 돼야겠다는 꿈을 가지게 되었습니다. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Portfolio zip
                    </a>
                </div>
            </div>
        </div>
    </section>
