 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
			<!--
                <div class="col-lg-4 col-lg-offset-2">
                    <p>저는 '토파즈마인'라는 웹 레이전시 회사에서 1년 정도 일을 하면서 쇼핑몰과 커뮤니티 사이트 코딩 경험을 하였고, 이직하여 '허블'라는 회사에 기업부설 연구소에서 모바일 웹 포털 사이트와 블록체인 암호화화페 정보제공 사이트 '빗콕' 퍼블리싱 작업을 2년 정도 개발 및 유지보수를 한 경험이 있습니다. </p>
                </div>
                <div class="col-lg-4">
                    <p>저에게 웹 퍼블리셔라는 직업은, 처음에 인터넷 쇼핑몰로 인해 웹페이지 제작에 관심을 두게 됐고 학원에 다니면서 정식으로 배우기 시작하면서 웹 퍼블리셔가 돼야겠다는 꿈을 가지게 되었습니다. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Portfolio zip
                    </a>
                </div>
			-->
				<div id="ABOUT">
					<span id="about_link" style="position:relative; top:-70px; height:0px; width:100%; display:block;"></span>
					<div class="about_wrap fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">
						<h2 class="about_tit"><img src="/img/about/about_tit.png" alt="about_tit"></h2>
						<span class="about_tit_line"></span>
						<p class="about_tit_sub">퍼블리셔 장인재의 프로필, 경력사항, 자기소개입니다.</p>
						<ul class="tab_menu">
							<li class="on">Profile</li>
							<li>History</li>
							<li>Introduce</li>
						</ul>
						<div class="about_box container">

							<div class="about_left hidden-xs col-sm-5 col-md-5 col-xl-5">
								<h3><img src="/img/about/picture.png" alt="picture"></h3>
								<p>퍼블리셔 장인재 ( 89. 08. 26 )</p>
							</div>

							<div class="tab_list col-xs-12 col-sm-7 col-md-7 col-xl-7">
								<div class="tab_pf tab_content" style="display:block;">
									<h3 class="tab_tit">PROFILE<!-- <img src="/img/about/about_tab_tit01.png" alt="profile"> --></h3>
									<ul>
										<li>
											<h4 class="pr_tit">이름</h4>
											<h4>장인재</h4>
										</li>
										<li>
											<h4 class="pr_tit">나이</h4>
											<h4>30살 (1989. 08. 26)</h4>
										</li>
										<li>
											<h4 class="pr_tit">학력</h4>
											<h4>수원대학교 조형예술학부</h4>
										</li>
										<li>
											<h4 class="pr_tit">자격증</h4>
											<h4>웹디자인기능사<br><br>운전면허(1종 보통)</h4>
										</li>
										<li>
											<h4 class="pr_tit">성격</h4>
											<h4>밝고 긍정적이며 장난끼가 많은 성격입니다.</h4>
										</li>
									</ul>
								</div>

								<div class="tab_his tab_content" style="display:none;">
									<h3 class="tab_tit">HISTORY<!-- <img src="/img/about/about_tab_tit02.png" alt="history"> --></h3>
									<ul>
										<li>
											<h4 class="pr_tit">2018.03 ~ </h4>
											<p>(주)원팩토리에서 퍼블리셔로 근무</p>
										</li>
										<li>
											<h4 class="pr_tit">2017.07 ~ 2018.01.31</h4>
											<p>(주)인츠빌에서 퍼블리셔로 근무</p>
										</li>
										<li>
											<h4 class="pr_tit">2016.10 ~ 2017.04</h4>
											<p>인천 SBS컴퓨터아트학원<br>(JAVA, SQL, JSP, Oracle, MySQL, Eclipse, Toad, HeidiSQL 활용한 웹개발 프로그래밍 과정 수료)</p>
										</li>
										<li>
											<h4 class="pr_tit">2016.08 ~ 2016.10</h4>
											<p>인천 SBS컴퓨터아트학원 (자바스크립트 심화과정 수료)</p>
										</li>
										<li>
											<h4 class="pr_tit">2015.06 ~ 2016.08</h4>
											<p>(주) 바른웹에서 웹디자이너 + 퍼블리셔로 근무</p>
										</li>
										<li>
											<h4 class="pr_tit">2015.03~06</h4>
											<p>안산 그린컴퓨터아트 학원 (웹 디자이너+퍼블리셔 과정 수료)</p>
										</li>
										<li>
											<h4 class="pr_tit">2009 ~ 2015</h4>
											<p>수원대학교 조형예술학부 조소과 졸업</p>
										</li>
									</ul>
								</div>

								<div class="tab_int tab_content" style="display:none;">
									<h3 class="tab_tit">INTRODUCE<!-- <img src="/img/about/about_tab_tit03.png" alt="introduce"> --></h3>
									<p class="tab_int_text">
										고등학교 1학년때부터 미술을 배워왔습니다.<br>
										군대를 행정병으로 다녀오고나서 컴퓨터의 능력에 재미와 흥미를 느꼇습니다. 그래서 저는 미술과 컴퓨터와 관련있는 취업을 희망하게 되었고 웹디자이너+퍼블리셔 과정을 공부하였습니다.<br>
										웹디자인 실무과정을 수료 후 웹에이전시에서 1년간 업무경험을 쌓았습니다. 디자인 및 퍼블리싱을 하면서 업무 특성상 여러방면에서 서버사이드 쪽을 접하게 될일이 많았고 그 당시 저는 서버사이드 언어를 하나도 몰랐기에 일의 진행이 매우 더뎠습니다.
										이를 극복하기 위해 서버사이드 언어도 공부하였으며 현재는 작업속도가 월등히 빨라졌습니다. 하지만, 여기에 만족하지 않고 새로운 기술과 지식을 쌓는데 계속 노력 중이며 더욱 발전하고 있는 제 모습에 만족을 찾고 있습니다.<br>
										<br>
										저는 인성검사 시에 항상 스트레스에 매우 강하다고 나올 정도로 밝은 성격입니다. 어려운 고난이 닥칠때도 언제나 웃음을 잃지 않으며 자진해서 이겨낼 열정을 갖고 있습니다. 정면으로 어려운 난제에 도전하는 성격이며 피하기보단 현실을 직시하는 성격입니다.
										"하고자 하면 못하는건 없다."가 좌우명입니다. 뭐든지 맡겨만 주신다면 열심히 하겠습니다.
									</p>
								</div>

							</div>

						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
