 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
			<!--
                <div class="col-lg-4 col-lg-offset-2">
                    <p>저는 '토파즈마인'라는 웹 레이전시 회사에서 1년 정도 일을 하면서 쇼핑몰과 커뮤니티 사이트 코딩 경험을 하였고, 이직하여 '허블'라는 회사에 기업부설 연구소에서 모바일 웹 포털 사이트와 블록체인 암호화화페 정보제공 사이트 '빗콕' 퍼블리싱 작업을 2년 정도 개발 및 유지보수를 한 경험이 있습니다. </p>
                </div>
                <div class="col-lg-4">
                    <p>저에게 웹 퍼블리셔라는 직업은, 처음에 인터넷 쇼핑몰로 인해 웹페이지 제작에 관심을 두게 됐고 학원에 다니면서 정식으로 배우기 시작하면서 웹 퍼블리셔가 돼야겠다는 꿈을 가지게 되었습니다. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Portfolio zip
                    </a>
                </div>
			-->
				<div id="ABOUT">
					<span id="about_link" style="position:relative; top:-70px; height:0px; width:100%; display:block;"></span>
					<div class="about_wrap fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">
					<!--
						<h2 class="about_tit"><img src="/img/about/about_tit.png" alt="about_tit"></h2>
						<span class="about_tit_line"></span>
						<p class="about_tit_sub">퍼블리셔 장인재의 프로필, 경력사항, 자기소개입니다.</p>
					-->
						<ul class="tab_menu">
							<li class="on">Profile</li>
							<li>History</li>
							<li>Introduce</li>
						</ul>
						<div class="about_box container">
							<style>
								.tab_list{width:100% !important;}
							</style>
							<div class="tab_list col-xs-12 col-sm-7 col-md-7 col-xl-7">
								<div class="tab_pf tab_content" style="display:block;">
									<h3 class="tab_tit">PROFILE<!-- <img src="/img/about/about_tab_tit01.png" alt="profile"> --></h3>
									<ul>
										<li>
											<h4 class="pr_tit">이름</h4>
											<h4>한민주</h4>
										</li>
										<li>
											<h4 class="pr_tit">나이</h4>
											<h4>29살 (1991. 05. 21)</h4>
										</li>
										<li>
											<h4 class="pr_tit">학력</h4>
											<h4>국제대학 패션디자인전공</h4>
										</li>
										<li>
											<h4 class="pr_tit">성격</h4>
											<h4>밝고 긍정적이며 장난끼가 많은 성격입니다.</h4>
										</li>
									</ul>
								</div>

								<div class="tab_his tab_content" style="display:none;">
									<h3 class="tab_tit">HISTORY<!-- <img src="/img/about/about_tab_tit02.png" alt="history"> --></h3>
									<ul>
										<li>
											<h4 class="pr_tit">2016.08 ~ 2018.10</h4>
											<p>(주)허블에서 퍼블리셔로 근무</p>
										</li>
										<li>
											<h4 class="pr_tit">2015.08 ~ 2016.07</h4>
											<p>(주)토파즈마인에서 퍼블리셔로 근무</p>
										</li>
									</ul>
								</div>

								<div class="tab_int tab_content" style="display:none;">
									<h3 class="tab_tit">INTRODUCE<!-- <img src="/img/about/about_tab_tit03.png" alt="introduce"> --></h3>
									<p class="tab_int_text">
										저는 '토파즈마인'라는 웹 레이전시 회사에서 1년 정도 일을 하면서 쇼핑몰과 커뮤니티 사이트 코딩 경험을 하였고, 이직하여 '허블'라는 회사에 기업부설 연구소에서 모바일 웹 포털 사이트와 블록체인 암호화화페 정보제공 사이트 '빗콕' 퍼블리싱 작업을 2년 정도 개발 및 유지보수를 한 경험이 있습니다. <br><br>저에게 웹 퍼블리셔라는 직업은, 처음에 인터넷 쇼핑몰로 인해 웹페이지 제작에 관심을 두게 됐고 학원에 다니면서 정식으로 배우기 시작하면서 웹 퍼블리셔가 돼야겠다는 꿈을 가지게 되었습니다. 많은 프로그램을 배우면서 가장 도움이 됐던 건 처음 수업을 들을 때는 코딩이라는 것이 막연히 신기하고 재미있어서 기능 익히기에만 신경을 썼는데 모든 수업을 다 수강하고 나서부터 어떻게 코딩하면 편리하고, 어떤 페이지에는 어떤 구성이 어울리고 접근성을 맞춰서 사용자 친화적으로 코딩할 수 있을지 생각해보게 되었습니다. 
									</p>
								</div>

							</div>

						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
